
body {
    background-color: rgb(228, 202, 166);
  }
.MainContainer{
    background-image: url('images/Phone.png');
    margin-left:40%;
    height: 100vh;
    width: 500px;
    background-repeat: no-repeat;
}
.DateTimeContainer{
    width: 260px;
    text-align: center;
    padding-top: 20%;
    margin-left: 8%;
}
.NotificationContainer img{
    width: 290px;
    margin-left: 6%;
}
.InputContainer{
    width: 260px;
    text-align: center;
    padding-top: 5%;
    margin-left: 8%;
}
.InputContainer button{
    margin-left: 4%;
}
.OutputContainer{
    width: 260px;
    margin-left: 8%;
    text-align: center;
 
}
.Portfolio{
    margin-top: 0;
    width: 260px;
    text-align: center;
    margin-left: 8%;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .MainContainer{
        background-image: url('images/Phone.png');
        margin-left:16%;
        height: 715px;
        width: 400px;
        background-repeat: no-repeat;
    }
    .DateTimeContainer{
        width: 260px;
        text-align: center;
        padding-top: 20%;
        margin-left: 8%;
    }
    .NotificationContainer img{
        width: 290px;
        margin-left: 8%;
    }
    .Portfolio{
        margin-top: 0;
        width: 260px;
        text-align: center;
        margin-left: 8%;
        text-decoration: none;
    }
    .InputContainer{
        width: 260px;
        text-align: center;
        padding-top: 5%;
        margin-left: 8%;
    } 
    .InputContainer button{
        margin-left: 4%;
    }
    .OutputContainer{
        width: 260px;
        margin-left: 8%;
        text-align: center;
     
    }
  }